Yes thank you. This is one of the more confusing things about OAuth terminology but since we are referring specifically to section 4.2 of RFC6479 it would be more appropriate to use "Implicit grant" throughout.